<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Diary</title>
  <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8880/static/css/content.css" />
</head>

<body>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="http://127.0.0.1:8880/static/js/content.js"></script>
  <div id="maxname" style="width:100%;">
    <div id="header">
      Enjoy your reading time (todo add search)
    </div>
    <div id="left">
      <div class="menu" onclick="write()">
        write
      </div>
      <div class="split"></div>
      <div class="menu" onclick="save()">
        save
      </div>
      <div class="split"></div>
      <div class="menu" onclick="rand()">
        rand
      </div>
    </div>
    <div id="content">
      <textarea id="text">
            {{ .}}
        </textarea>
    </div>
    <div id="right">
      comments
    </div>
    <div id="bool">
      contact 824683639@qq.com
    </div>
  </div>
</body>

</html>