body{
  background-image: url(http://127.0.0.1:8880/static/png/diary.png);
  background-repeat: repeat;
  padding: 15px;
}

p {
  text-align: center;
  color: black;
  font-family: arial;
}

.input {
  text-align: center;
  color: black;
  font-family: arial;
}